// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/roboto-light.ttf");
}

.toast-message {
  background-color: map-get($colors, primary);
}

.toolbar[light] .bar-button-default {
  color: #0074E4;
}

.toolbar[light] .toolbar-title {
  color: #919191;
}

.toolbar-title {
  color: #919191;
}


@import "../pages/login/login";

@import "../pages/property-list/property-list";

@import "../pages/property-details/property-details";

@import "../pages/broker-details/broker-details";

@import "../pages/welcome/welcome";